.form1 {
  text-align: center;
}
.nav {
  align-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  background-color: bisque;
}
.heading {
  color: brown;
  text-align: center;
}

.homeButton {
  color: rgb(236, 159, 104);
  margin-top: 20%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: brown;
  border-radius: 10% 10% 10% 10%;
  width: 40%;
}
.homeButton1 {
  color: rgb(236, 159, 104);
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: brown;
  width: 40%;
  border-radius: 10%;
}
.comA {
  font-size: 18px;
  margin-bottom: 20px;
}
.formBasicn {
  margin-bottom: 0px;
}

.mLarge {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 10vh;
}
.div1{
  margin-top: 150px;
  margin-right: 200px;
  border: 3px outset rgb(14, 13, 13);
  background-color: rgb(230, 173, 208);
  text-align: center;
  width: 30vw;
  height: 15vh;

}
.div2{
  margin-top: 150px;
  margin-right: 200px;
  border: 3px outset rgb(14, 13, 13);
  background-color: rgb(173, 211, 230);
  text-align: center;
  width: 30vw;
  height: 15vh;

}

.mLarge2 {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 10vh;
  width: 40vw;
}

.mLarge1{
  width: 4000vw;

}



